@use '../variables' as *;

.logoText {
  span:last-child {
    font-family: 'PlayfairDisplay', sans-serif;
  }
}


@media screen and (max-width: 1100px) {

  nav.nav {
    display: none;
  }

}

