@use '../variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.admin-layout {
  padding: 0;
}

.admin-top {
  display: flex;
  align-items: center;
  padding: 0 vw(20);
  gap: vw(20);
  height: vw(40);
  background-color: rgb(81 87 163 / 0.3);
  a.site-link {
    display: flex;
    align-items: center;
    gap: vw(5);
    text-decoration: none;
    img {
      flex-shrink: 0;
      display: block;
      width: vw(15);
      height: auto;
      opacity: 0.6;
    }
    span {
      font-size: vw(12);
      line-height: vw(16);
      font-weight: 600;
      color: grey;
      padding-top: vw(3);
    }
    &:hover {
      img {
        opacity: 1;
      }
      span {
        color: $brandGreen;
      }
    }
  }
}

.admin-base {
  display: flex;
  .sidebar {
    flex-shrink: 0;
    width: vw(200);
    border-right: 1px solid #000;
    height: 100vh;
    padding: vw(15) 0;
  }
  .page-zone {
    flex-grow: 1;
  }
}

.admin-link {
  display: flex;
  align-items: center;
  gap: vw(5);
  padding: vw(12) vw(17);
  img {
    width: vw(20);
    height: auto;
    opacity: 0.7;
  }
  span {
    font-size: vw(12);
    line-height: vw(16);
    font-weight: 500;
    color: #000;
  }
}